/projects/web-app/.cpcache/
/projects/web-app/.nrepl-port
/projects/web-app/todos.mv.db
/projects/web-app/todos.trace.db
/projects/basics/.cpcache/
/projects/basics/.nrepl-port
/projects/cljs_compiler/.cpcache/
/projects/cljs_compiler/.nrepl-port
/projects/minesweeper/.nrepl-port
/notes.org
