{:deps {:aliases [:cljs-storm :dev]}
 :nrepl {:port 7123}
 :builds
 {:dev {:target :browser
        :devtools {:preloads [flow-storm.storm-preload visualizers]
                   :http-port 8021
                   :http-root "public"}
        :modules {:main
                  {:entries [mine-sweeper.main]}}}}}
