.outer {
    background: #c3c3c3;
    padding: 10px;
    width: 480px;
    box-sizing: border-box;
}

.box-hole {
    border-top: 3px solid #828282;
    border-left: 3px solid #828282;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
}

.box-relief {
    border-top: 3px solid #ffffff;
    border-left: 3px solid  #ffffff;
    border-bottom: 3px solid #828282 ;
    border-right: 3px solid #828282;
}

.header-outer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.cells-outer {
    margin-top: 10px;
    
}

.digital-pane {
    font-family: 'Digital-7 Mono', sans-serif;
    font-size: 50px;
    padding: 1px;
    color: red;
    background: black;
    max-width: 100px;
    max-height: 40px;
    border-top: 1px solid #828282;
    border-left: 2px solid #828282;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cell-revealed {
    border: 1px solid grey;
    font-weight: bold;
}

.cell-covered {
    cursor: pointer;
}

img.smile {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

img.flag {
    width: 27px;
    height: 23px;
}

img.mine {
    width: 27px;
    height: 23px;
}
